!!!
%html
	%head
		%title= @title || SiteConfig.title
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html',:charset=> "utf-8"}
		%link{:href => '/css/blueprint/screen.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		%link{:href => '/css/blueprint/print.css', :rel => 'stylesheet', :media => "print", :type => 'text/css'}
		/ [if lt IE 8] 
			%link{:href => '/css/blueprint/print.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		%link{:href => '/css/custom.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		
		%script{:type => "text/javascript", :src  => "/javascripts/jquery-1.4.2.min.js"}
		%script{:type => "text/javascript", :src => "/javascripts/application.js"}
	%body{:class => 'blueprint'}
		#header
			%a{:href => '/'}
				%img{:src=> '/images/zotero_logo.png', :title => SiteConfig.title}
				%p= SiteConfig.title
		.container
			
			%p.banner Use this tool to find your Zotero user id. Just enter the username and it'll find the number for you. This is useful for the various API libraries for Zotero.
			
			%p 
				%form{:id => 'finder', :method => 'post'}
					%label{:for => 'username'} Zotero Username:
					%input{:type => 'text', :id => 'username', :class => 'input', :name => 'username', :value => "#{params[:username]}"}

					%input{:type => 'submit', :id => "search", :class => 'button', :value => 'Find Zotero ID'}
			
			#content= yield
			
			%h2.center Ways to use your id

			%ul
				%li
					%a{:href => "http://rubygems.org/gems/rzotero"} rzotero
					.dt Ruby gem for Zotero API
				%li
					%a{:href => "http://github.com/clioweb/phpZotero"} phpZotero
					.dt PHP library for Zotero API
		#footer
			%p.center 
				%a{:href => "http://www.zotero.org/getinvolved/"} Get Involved 
				= " | "
				%a{:href => "http://www.zotero.org"} Zotero 
				="| &copy; #{Time.now.strftime('%Y')}"
				%a{:href => "http://www.scholarslab.org"}
					="#{SiteConfig.author}"
	%script{:type => "text/javascript"}
		:plain
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-15918905-1");
			pageTracker._trackPageview();
			} catch(err) {}