!!!
%html
	%head
		%title= @title || SiteConfig.title
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html',:charset=> "utf-8"}
		%link{:href => '/css/blueprint/screen.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		%link{:href => '/css/blueprint/print.css', :rel => 'stylesheet', :media => "print", :type => 'text/css'}
		/ [if lt IE 8] 
			%link{:href => '/css/blueprint/print.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		%link{:href => '/css/custom.css', :rel => 'stylesheet', :media => "screen,projection", :type => 'text/css'}
		
		%script{:type => "text/javascript", :src  => "/javascripts/jquery-1.4.2.min.js"}
		%script{:type => "text/javascript", :src => "/javascripts/application.js"}
	%body{:class => 'blueprint'}
		#header
			%h1= "#{SiteConfig.title}"
	
		.container
			
			%p.banner Use this tool to find your Zotero user id. Just enter the username and it'll find the number for you. This is useful for the various API libraries for Zotero.
			
			#content= yield
		#footer
			%p 
				%a{:href => "http://jigsaw.w3.org/css-validator/check/referer"} CSS 
				= " | "
				%a{:href => "http://www.zotero.org"} Zotero 
				="| &copy; #{Time.now.strftime('%Y')}"
				%a{:href => "http://www.scholarslab.org"}
					="#{SiteConfig.author}"